<!DOCTYPE html>
<html>
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html, charset=utf-11">
        <title>Vue Demo</title>
        <link rel="icon" type="image/png" sizes="16x16" href="./img/logo.png">
        <link rel="stylesheet" href="./css/help/style.css">
        <link rel="stylesheet" href="./css/help/style_guide.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container st-body st-shadow" id="help_center" style="background-color: white;">
            <div class="header-top-area">
                <button>幫助中心</button>
                <button class="go-to">政策</button>
            </div>
            <div class="header-img">
                <div>
                    <h2 class="st-h2">幫助中心</h2>
                    <div class="header-link-menu">
                        <input class="st-input" placeholder="搜尋問題..."/>
                    </div>
                </div>
            </div>
            <div class="polices-tab active" id="app" >
                <div class="help-cat-title" data-target="help-cat-1">
                    <span>+</span>
                    <h5>會員相關問題</h5>
                </div>
                <div class="help-cat help-cat-1" id="help-cat-1">
                    <a v-for="item in menu1"><p>{{ item.sub_title }}</p></a>
                </div>
                <div class="help-cat-title" data-target="help-cat-2">
                    <span>+</span>
                    <h5>設計師</h5>
                </div>
                <div class="help-cat help-cat-2">
                    <a v-for="item in menu2"><p>{{ item.sub_title }}</p></a>
                </div>
                <div class="help-cat-title" data-target="help-cat-3">
                    <span>+</span>
                    <h5>廠商</h5>
                </div>
                <div class="help-cat help-cat-3">
                    <a v-for="item in menu3"><p>{{ item.sub_title }}</p></a>
                </div>
                <div class="help-cat-title" data-target="help-cat-4">
                    <span>+</span>
                    <h5>商品及品牌搜尋</h5>
                </div>
                <div class="help-cat help-cat-4">
                    <a v-for="item in menu4"><p>{{ item.sub_title }}</p></a>
                </div>
                <div class="help-cat-title" data-target="help-cat-5">
                    <span>+</span>
                    <h5>購買與訂單</h5>
                </div>
                <div class="help-cat help-cat-5">
                    <a v-for="item in menu5"><p>{{ item.sub_title }}</p></a>
                </div>
                <div class="help-cat-title" data-target="help-cat-6">
                    <span>+</span>
                    <h5>配送取貨</h5>
                </div>
                <div class="help-cat help-cat-6">
                    <a v-for="item in menu6"><p>{{ item.sub_title }}</p></a>
                </div>
                <div class="help-cat-title" data-target="help-cat-7">
                    <span>+</span>
                    <h5>退貨退款</h5>
                </div>
                <div class="help-cat help-cat-7">
                    <a v-for="item in menu7"><p>{{ item.sub_title }}</p></a>
                </div>
                <div class="help-cat-title" data-target="help-cat-8">
                    <span>+</span>
                    <h5>E-WALLET</h5>
                </div>
                <div class="help-cat help-cat-8">
                    <a v-for="item in menu8"><p>{{ item.sub_title }}</p></a>
                </div>
                <div class="help-cat-title" data-target="help-cat-9">
                    <span>+</span>
                    <h5>留言區</h5>
                </div>
                <div class="help-cat help-cat-9">
                    <a id="ask"><p>找不到解決方式嗎？歡迎點我留下您的問題 我們將在第一時間回覆您</p></a>
                </div>
                <div class="search-result">
                    <a href="#"><p>問題內容，問題內容問題內容，問題內容？</p></a>
                    <a href="#"><p>問題內容，問題內容問題內容，問題內容？</p></a>
                    <a href="#"><p>問題內容，問題內容問題內容，問題內容？</p></a>
                    <a href="#"><p>問題內容，問題內容問題內容，問題內容？</p></a>
                </div>
            </div>
        </div>
        <div id="answer" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="./js/help.js"></script>
    </body>
</html>
