<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html, charset=utf-11">
    <title>Vue Demo</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/logo.png">
    <link rel="stylesheet" href="/css/todo_list/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body id="app">
  	<div class="container">
  		<div class="row">

  			<div class="col-md-12">
  				<h1><%= title %></h1>
  				<input type="text" class="form-control add-input" placeholder="輸入以新增todo list">
  				<textarea class="form-control add-textarea"  placeholder="輸入todo list內容"></textarea>
  				<button class="btn btn-primary add-btn">+ 新增</button>
  				<hr>
  				<div class="col-12">
  					<div class="row">
		  				<div class="card col-3 mr-md-2">
						  	<div class="card-body">
							    <h5 class="card-title">Card title</h5>
							    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
						  	</div>
						</div>
		  				<div class="card col-3 mr-md-2">
		  					<div class="card-body">
							    <h5 class="card-title">Card title</h5>
							    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
						  	</div>
		  				</div>
		  				<div class="card col-3 mr-md-2">
		  					<div class="card-body">
							    <h5 class="card-title">Card title</h5>
							    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
						  	</div>
		  				</div>
		  				<div class="card col-3 mr-md-2">
		  					<div class="card-body">
							    <h5 class="card-title">Card title</h5>
							    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
						  	</div>
		  				</div>
		  				<div class="card col-3 mr-md-2">
		  					<div class="card-body">
							    <h5 class="card-title">Card title</h5>
							    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
						  	</div>
		  				</div>
		  				<div class="card col-3 mr-md-2">
		  					<div class="card-body">
							    <h5 class="card-title">Card title</h5>
							    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
							    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							    <a href="#" class="card-link">Card link</a>
							    <a href="#" class="card-link">Another link</a>
						  	</div>
		  				</div>
	  				</div>
	  			</div>
  			</div>
  			
  			
  				
  			
  		</div>
  	</div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/todo_list.js"></script>
  </body>
</html>
